name: mobile_deckx
description: DeckX Flutter App
version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.5
  provider: ^6.0.5
  web_socket_channel: ^2.2.0
  google_fonts: ^5.0.0
  animations: ^2.0.7
  vibration: ^3.1.5

flutter:
  uses-material-design: true
  assets:
    - assets/icons/